<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>16/11/30 12:17:37</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;swipe.End()[pri:0, instance:Android.Adjoy.stepsDefinitions.swipe@64bfbc86]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>16/11/30 12:17:22</td>   <td>-14748</td> <td>&nbsp;</td><td title="&gt;&gt;swipe.setUp()[pri:0, instance:Android.Adjoy.stepsDefinitions.swipe@64bfbc86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>16/11/30 12:17:32</td>   <td>-5482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="swipe.swipingHorizontal()[pri:0, instance:Android.Adjoy.stepsDefinitions.swipe@64bfbc86]">swipingHorizontal</td> 
  <td>main@1815546035</td>   <td></td> </tr>
</table>
